
body{
  /* margin: 0px;
  padding: 0px; */
  background-color: #ffdbad;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vmin;
  width: 60vmin;
  gap: 10px;
}

.box{
  height : 18vmin;
  width : 18vmin;
  border: 5px ;
  color: red;
  text-shadow: #e4a655;
  border-radius: 10px;
  font-size: xx-large;
}

.reset-b{
  height: 50px;
  width: 150px;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
}
