body{
  /* margin: 0px;
  padding: 0px; */
  background-color: rgb(255, 219, 173);
  text-align: center;
}
.container{
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vmin;
  width: 60vmin;
  gap: 10px;
}

.boxes{
  height : 18vmin;
  width : 18vmin;
  border: none;
  color: red;
  font-size: xx-large;
}

.reset-b{
  height: 50px;
  width: 150px;
  font-size: larger;
}